<main>
    <div class="top-container">
        <img class="hero-image"
            src="/images/home-top-bg.jpg"
            alt="Background-Image for Handyskills.">
        <h3 class="centered">Chicago's Best Handimen</h3>
        <h1 class="hero-label">
            HIGHLY TRAINED HANDYMEN AT YOUR SERVICE
        </h1>

    </div>
</main>
